name: Trigger Playwright E2E Tests

on:
  workflow_dispatch:
    inputs:
      urls:
        description: 'Url list to run accessibility test against (e.g., https://www.ucr.ac.cr/,https://www.ucr.ac.cr/estudiantes/)'
        required: false
        default: ''
      tags:
        description: 'List of tags to evaluate (e.g.,wcag2aa,wcag21a)'
        required: false
        default: ''
      rules:
        description: 'List of rules to evaluate (e.g.,color-contrast,image-alt)'
        required: false
        default: ''
jobs:
  e2e-tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Clean previous accessibility report folder
        run: |
          if [ -d "./artifacts" ]; then
            rm -rf ./artifacts
          fi

      - name: Run Playwright tests
        run: |
          if [ "${{ github.event.inputs.urls }}" != "" ]; then
            if [ "${{ github.event.inputs.tags }}" != "" ]; then
              npx playwright test custom-ally.spec.ts -- --routes ${{ github.event.inputs.urls }} --tags ${{ github.event.inputs.tags }}
            elif [ "${{ github.event.inputs.rules }}" != "" ]; then
              npx playwright test custom-ally.spec.ts -- --routes ${{ github.event.inputs.urls }} --rules ${{ github.event.inputs.rules }}
            else
              npx playwright test custom-ally.spec.ts -- --routes ${{ github.event.inputs.urls }}
            fi
          else
            npx playwright test
          fi

      - name: Upload accessibility report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: accessibility-report
          path: ./artifacts
